@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic')

.content
  font-family: Roboto, sans-serif
  font-size: 18px
  font-weight: 300

.arrows
  height: 34px
  position: relative

.arrow1, .arrow2, .arrow3, .arrow4
  position: absolute
  bottom: 0
  transition: opacity .5s, transform .5s
  transform-origin: left

.arrow1
  left: 33px

.arrow2
  left: 33px

.arrow3
  left: 103px

.arrow4
  left: 103px

.text
  height: 21px

