@import './stylesheet.css'

body
  background-color: black

.frame
  font-family: "Yandex Sans Text", serif
  color: #1A1B22
  background-color: white
  width: 764px
  height: 412px
  box-sizing: border-box
  margin: 80px auto 0
  padding: 35px 32px 62px 39px
  border-radius: 15px
  overflow: hidden
