@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

body
  background-color: black

.frame
  background-color: white
  width: 764px
  height: 412px
  margin: 25px auto
  padding: 35px 39px 62px
  border-radius: 15px
  overflow: hidden
